@import "trio.css";
/* @import "trio_ingame.css"; */

#container-left {
    padding-left  : 2em;
    padding-right : 10em;
    max-width     : 28%;
    border-radius : 6em 0em 6em 0em;
    display       : flex;
    flex-direction: column;
}

#title {
    user-select: none;
}

#room-container {
    display       : flex;
    flex-direction: column;
}

#roomcode-container {
    display  : flex;
    font-size: 5rem;
    width    : 100%;
}

#roomcode {
    width         : 2.4em;
    height        : 0.7em;
    font-size     : inherit;
    text-transform: uppercase;
    padding       : 0.1em;
    font-family   : 'Source Code Pro', monospace;
}

#roomcode::placeholder {
    font-size : 0.4em;
    text-align: center;
    transform : translateY(-0.5em);
}

#name {
    font-size  : 2rem;
    text-align : center;
    font-family: 'Source Code Pro', monospace;
    flex       : 1;
}

#play-button {
    font-size       : inherit;
    transition      : all 0.13s;
    line-height     : 1.17em;
    font-size       : 0.8em;
    padding-left    : 0.2em;
    padding-right   : 0.25em;
    text-decoration : none;
    color           : white;
    background-color: black;
    justify-content : center;
    user-select     : none;
    box-sizing      : border-box;
    /* greyed out */
    opacity         : 0.5;
    pointer-events  : none;
}

#play-circle {
    font-size : 1.5em;
    padding   : 40px 0;
    max-height: 10px;
}

#everything-container {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    height        : 100vh;
}

body {
    /* background       : rgb(255, 255, 255); */
    background             : radial-gradient(circle, rgb(243, 243, 243) 0%, rgb(180, 180, 180) 100%);
    display                : flex;
    flex-direction         : column;
    /* height                 : 100vh; */
    margin                 : 0;
    overflow               : hidden;
    font-size              : 2vh;
    /* cursor              : url(cursor.png), pointer; */
}
