.card {
    /* background-color: rgb(98, 158, 103); */
    /* background-color: rgb(221, 221, 221); */
    border         : solid white 8px;
    border-radius  : 15px;
    filter         : drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.6)) brightness(100%);
    width          : 110px;
    height         : 180px;
    transition     : all 0.13s ease-out;
    flex-shrink    : 0;
    margin-left    : -60px;
    --scale        : 1;
    --translate    : 0px;
    --rot          : 0;
    --arc-translate: 0px;
    --rand_x       : 0px;
    --rand_y       : 0px;
    transform      : scale(var(--scale)) translate(calc(0px + var(--rand_x)), calc(var(--translate) + var(--arc-translate) + var(--rand_y))) rotate(var(--rot));

    /* padding   : 20px;
    box-sizing   : padding-box; */
}

.playable:hover {
    filter        : drop-shadow(0 0.3rem 0.7rem rgba(0, 0, 0, 0.3)) brightness(100%);
    /* --rot      : 10deg; */
    --scale       : 1.05;
    --translate   : -20px;
}

.playable:active {
    --translate: -30px;
    filter     : drop-shadow(0 0.3rem 0.7rem rgba(0, 0, 0, 0.3)) brightness(125%);
}

.card-inner {
    padding    : 15px;
    font-size  : 40px;
    font-family: 'Lora', serif;
    color      : white;
    text-shadow: -3px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    user-select      : none;
    /* paint-order   : stroke fill; */
}

#card-container {
    display        : flex;
    column-gap     : 10px;
    justify-content: center;
    align-items    : center;
    margin-top     : auto;
}

#last-played-card-container {
    margin: auto;
}

#main-container {
    margin             : auto;
    padding            : 3em;
    border-radius      : 6em 0em 6em 0em;
    width              : 31em;
    height             : 14em;
    display            : flex;
    /* filter          : drop-shadow(1em 1em 0 #333); */
    /* clip-path       : inset(0.5em); */

    /* box-shadow      : 0 0 0 1em black; */
}

#main-border-1 {
    border-radius            : 4em 4em 4em 4em;
    /* outline               : var(--trio-blue) solid 2em; */
    /* background-color      : white; */
    margin                   : inherit;
    padding                  : inherit;
    position                 : absolute;
    width                    : inherit;
    height                   : inherit;
    transform                : translate(-4em, -4em);
    /* z-index               : -1; */
    /* filter                : drop-shadow(0.5em 2em 0 var(--trio-brown)) drop-shadow(0.5em 2em 0 var(--trio-orange)) drop-shadow(0.5em 2em 0 var(--trio-yellow)); */
}

#main-container.trio {
    background-color      : var(--trio-brown);
    transition            : 0.5s;
    /* filter             : drop-shadow(0em 2em 0 var(--trio-brown)) drop-shadow(0em 2em 0 var(--trio-orange)) drop-shadow(0em 2em 0 var(--trio-yellow)); */
    filter                : drop-shadow(0.5em 2em 0 var(--trio-orange)) drop-shadow(0.5em 2em 0 var(--trio-yellow));
    /* background-color   : white; */
    /* box-shadow         : 12px 12px 2px 1px black; */
}

#main-container.trio:hover {
    /* filter             : drop-shadow(0.5em 2em 0 var(--trio-brown)) drop-shadow(0.5em 2em 0 var(--trio-orange)) drop-shadow(0.5em 2em 0 var(--trio-yellow)); */
    /* background-color: white; */
    /* box-shadow      : 12px 12px 2px 1px black; */
}

#play-button.trio {
    background-color: var(--trio-blue);
}

#room-container {
    margin: auto;
}

#roomcode-container {
    display        : flex;
    align-items    : stretch;
    justify-content: center;
    font-size      : 5rem;
}

#roomcode {
    width         : 2.4em;
    height        : 0.7em;
    font-size     : inherit;
    text-transform: uppercase;
    padding       : 0.1em;
    border-radius : 0.0;
    border-color  : transparent;
    font-family   : 'Source Code Pro', monospace;
}

#roomcode::placeholder {
    font-size : 0.4em;
    text-align: center;
    transform : translateY(-0.5em);
}

#name {
    margin       : auto;
    width        : 16.85em;
    font-size    : 1.5em;
    text-align   : center;
    padding      : 0.1em;
    border-radius: 0.0;
    border-style : none;
    font-family  : 'Source Code Pro', monospace;
}

/* #name::placeholder {
    text-transform: uppercase;
} */

#play-button {
    font-size       : inherit;
    transition      : all 0.13s;
    line-height     : 1.17em;
    font-size       : 0.8em;
    padding-left    : 0.2em;
    padding-right   : 0.25em;
    text-decoration : none;
    color           : white;
    background-color: black;
    justify-content : center;
    user-select     : none;
    box-sizing      : border-box;
    /* greyed out */
    opacity         : 0.5;
    pointer-events  : none;
}

/* #play-button:hover {
    background-color: rgb(73, 73, 73);
}

#play-button:active {
    background-color: #395a31;
} */

#play-circle {
    font-size : 1.5em;
    padding   : 40px 0;
    max-height: 10px;
}

body {
    font-family         : 'Merriweather', serif;
    /* background       : rgb(255, 255, 255);
    background          : radial-gradient(circle, rgb(243, 243, 243) 0%, rgb(180, 180, 180) 100%); */
    display             : flex;
    flex-direction      : column;
    height              : 100vh;
    margin              : 0;
    overflow            : hidden;
    font-size           : 2vh;
    /* cursor           : url(cursor.png), pointer; */
}

body.trio {
    --trio-blue        : rgb(0, 211, 199);
    --trio-brown       : rgb(109, 59, 35);
    --trio-orange      : rgb(255, 96, 0);
    --trio-yellow      : rgb(255, 167, 15);
    --trio-cream       : rgb(255, 247, 200);
    --trio-cream-darker: rgb(233, 198, 123);
    background         : radial-gradient(circle, var(--trio-cream) 0%, var(--trio-cream-darker) 100%);
    /* background-color: var(--trio-cream); */
}
